body {
  background: #fff;
  color: #000;
  margin: 0;
}

.container {
  margin: -20px 0;
  width: 65vw;
  height: 100vh;
  background: #f3f3f3;
}

.header {
  width: 65vw;
  height: 15vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 100px;
}

.container-text {
  padding: 25px;
}

.stop {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #e61818b9;
  margin: 10px;
}

.save {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #1cd125b9;
  margin: 10px;
}

.curve {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #eb8939b9;
  margin: 10px;
}

.container-input {
  background-color: #4a2abb;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  position: relative;  
  text-align: center;
  width: 160px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.container-input .json {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}

.container-input-bi {
  background-color: #4a2abb;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 160px;
  margin-left: 10px;
}

.container-input-bi .binary {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}

.load {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #0fc409b9;
  margin: 10px;
}
